*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@font-face{
    font-family: nulshock;
    src: url(../../assets/fonts/nulshock.otf);
}
@font-face{
    font-family: maison;
    src: url(../../assets/fonts/MaisonNeue-Medium.ttf);
}
@font-face{
    font-family: dune;
    src: url(../../assets/fonts/dunerise.ttf);
}
:root{
    --opacity: #1313137a;
    --blue: rgb(0, 211, 248);
    --secondary: #28ee6a;
    --darckblue : #050611dc;
    --bgc: #131313;
    --border: #595a6e;
    --graytext: #8a8989;
    --darkgray: #2b2c38;
    --danger: #bd0909;
    --footer:#21222b;
    --textcolor: #fff;
    --titles:nulshock;
    --texts: maison;
}


.red_box{
    background-color: var(--danger);
    color: var(--bgc);
    width: 100%;
    height: max-content;
    padding: .5rem;
    text-align: center;
    text-justify: center;
}
.green_box{
    background-color: var(--secondary);
    color: var(--bgc);
    width: 100%;
    height: max-content;
    padding: .5rem;
    text-align: center;
    text-justify: center;
}

img{
    width: 100%;
    height: auto;
}
body {
    background-color: var(--bgc);
    color: #fff;
    overflow-x:hidden ;
}

.input_error{
    margin-top: -1rem;
    font-size: 80%;
    background-color: var(--danger);
    color: var(--bgc);
    transition: all 800ms ease;
    width: 90%;
    margin-left: 1rem;
    padding: .3rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}
.hide{
    display: none;
}







/* HEADER STYLES */
header{
    background-color: transparent;
    position: fixed;
    z-index: 1;
}
.logo{
    width: 5rem;
}
.brand{
    display: flex;
    font-size: 2rem;
    font-family: var(--titles);
    color: #fff;
    text-decoration: none;
    margin-left: 2rem;
    align-items: center;
}
.hamburger-inner::after{
background-color: #fff;
}
.hamburger-inner::before{
background-color: #fff;
}
.hamburger-inner{
background-color: #fff;
}



.panel{
    margin-right: 10%;
    width: 40%;
    align-content: center;
}
.head_nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.head_nav a{
    color: var(--textcolor);
    text-decoration: none;
    font-family: var(--titles);
    font-size: 1rem;
}
.nav_btn{
    
    border: 1px solid var(--secondary);
    color: var(--secondary);
}
.nav_btn:hover{
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
    color: var(--bgc);
}
.container-head{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    background-color: var(--opacity);
    box-shadow: 2px 1px 3px var(--border);

}
.contact_wrapper, .profile_wrapper{
    padding-top: 5rem;
}


.banner{
   background-image: url(../../assets/img/blue.jpg);
   background-size: cover;
   height: 50vh;
   width: 100%;
   z-index: -1;
   padding-top: 7rem;
   background-repeat: no-repeat;
}

@media(min-width: 510px){
    .panel_btn{
        display: none;
    }
}
.company{
    width: 40%;
    position: relative;
    left: 10%;
}
.company h1{
    font-size: 5vw;
    font-family: dune;
    
}
.company h5{
    font-family: var(--texts);
    color: var(--graytext);
    
}
.news_wrapper{
    height: 50vh;

}
.row_news{
    height: 100%;
    gap: 1rem;
    justify-content: center;
    align-items: center;

}
.card_news{
    height: 90%;
    background-color: var(--bgc);
    color: var(--textcolor);
    font-family: var(--texts);
    border:1px solid var(--border);
    padding: 0;
    cursor: pointer;
}
.card_news .card-title{
    font-size: 1.3rem;
    height: 100%;
    cursor: pointer;
}
.card_news .card-text{
    font-size: .8rem;
    cursor: pointer;
}
.show_new {
    width: 80%;
    background-color: var(--bgc);
    border: 2px solid var(--darkgray);
    margin: 1rem auto;
    border-radius: 12px;
}
.new_container{
    border-radius: 12px;
    background-color: var(--bgc);
    color: var(--textcolor);

}
.close_new_btn{
    width: max-content;
    position:relative;
    inset: 10% 5% 90% 96%;
    font-size: 1.3rem;
    text-shadow: 2px 3px 5px var(--textcolor);
    cursor: pointer;
}



.row_services{
    gap: 1rem;
    justify-content: center;
}

.row_services .card .card-title{
    font-family: var(--titles);
    
}
.row_services .card .card-text{
    font-family: var(--texts);
    
}
.row_services2{
    gap: 2rem;
    justify-content: center;
}
.row_services2 .card{
    width: 45%;
}
.row_services2 .card .card-title{
    font-family: var(--titles);
    
}
.row_services2 .card .card-text{
    font-family: var(--texts);
    
}
.services_wrapper .card{
    background-color: var(--bgc);
    color: var(--textcolor);
    border: 2px solid var(--darkgray);
    padding: 0;

    
}
.services_wrapper .card .card-body{
    padding: 3rem;

    
}
.services_wrapper .card :hover{
    background-color: var(--darkgray);
    
}


.row_proyects{
    gap: 1rem;
    width: 100%;
    justify-content: center;
    margin-bottom: 7rem;
    margin-top: 7rem;
}
.row_proyects .card{
    width: 23%;
    background-color: var(--bgc);
    color: var(--textcolor);
    border: 2px solid var(--darkgray);
}
.row_proyects .card:hover{
    background-color: var(--darkgray);
}
.row_proyects .card .card-title{
    font-family: var(--titles);
}
.row_proyects .card .card-text{
    font-family: var(--texts);
}

.technologies{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.tech{
    font-size: 1.5rem;
}
.fa-css{
    color: #264de4;
}
.fa-js{
    color: #f0db4f;
}
.fa-html5{
    color:#e34c26 ;
}
.fa-php{
    color: #8993be;
}
.fa-database{
    color:  #f29111;
}


.row_budget .card{
   background-color: var(--bgc);
   color: var(--textcolor);
   border: 2px solid var(--darkgray);
   justify-items: center;
   font-family: var(--texts);
   gap: 1rem;
}
.budget_form{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.budget_form input{
    background-color: var(--bgc);
    color: var(--textcolor);
}
.budget_form input::placeholder {
    color: var(--graytext);
}

.budget_form select{
    background-color: var(--bgc);
    color: var(--textcolor);
}
.budget_form .form-group{
    margin-top: 2rem;
}
.budget_card .h2{
    font-family: var(--titles);
}
.check_box{
    width: max-content;
}
.porcent{
    margin-bottom: 0;
    margin-top: 1rem;
    display: inline;
}

.budget_btn{
    background-color: var(--blue);
    color: var(--textcolor);
    position: relative;
    left: 80%;
}
.total{
    margin-left: 30%;
}
.budget_btn:hover{
    background-color: var(--bgc);
    color: var(--blue);
    border: 1px solid var(--blue);
    
}
.invite{
    width: 100%;
    margin-bottom: -1rem;
    text-align: center;
    border-radius: 16px;
    background-color: #189140;
}

.footer_row{
    display: flex;
    margin-top: 10rem;
    border-top: 3px solid var(--border);
    padding: 2rem;
    padding-bottom: 0;
    font-family: var(--texts);
    background-color: var(--footer);
}
.footer_row .col-md-4{
    padding: 3rem;
}
.footer_row .h4{
    font-family: var(--titles);
    margin-bottom: 1rem;
}


.search_footer{
    background-color: var(--bgc);
    color: var(--textcolor);
    border: 2px solid var(--darkgray);

}
.search_footer::placeholder{
    color: var(--graytext);
}
.footer_list {
    margin-top: 1rem;
    text-align: left;
}
.icon_wrapper{
    color: var(--border);
    font-size: 2.5rem;
    width: 50%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
}
.icon_wrapper .fa-brands:hover{
    color: var(--blue);
    text-shadow: 1px 1px 3px var(--blue);
}
.right{
    background-color: var(--darkgray);
    padding: 1rem;
    text-align: center;
}
.fa-solid{
    margin-right: .7rem;
}


/* PROFILE STYLES */
.profile_wrapper .row{
    height: 60%;

}
.profile_card {
    background: transparent;
    color: var(--textcolor);
    border: 2px solid var(--blue);
    width:60%;
    margin: 0 auto ;
}
.profile_card .h3{
    font-family: var(--titles);
    
    margin: 10px;
}
#profile_form input{
    font-size: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #858585;
    border-radius: 0;
   color: #fff;
}
#profile_form .form-group{
    margin-top: 1rem;
}
#profile_form label{
    font-weight: bold;
}
#profile_form{
    width: 100%;
    display: grid;
}
.profile_card .card-body{
    place-items: center;
    
}
.profile_btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile_btn{
    background-color: var(--blue);
    color: var(--textcolor);
    width: 40%;
    position: relative;
}
.changePassword_btn{
    color: var(--graytext);
    border: 1px solid var(--blue);
    margin-bottom: .5rem;
    font-size: .8rem;
}
.changePassword_btn:hover{
    color: var(--bgc);
    border: 1px solid var(--blue);
    background-color: var(--blue);
}
.profile_btn:hover{
    background-color: var(--bgc);
    border: 1px solid var(--blue);
    color: var(--blue);
}
.alert_msg_pro {
    margin: 1rem auto  0;
    text-align: center;

}






.apo_card {
    background: transparent;
    color: var(--textcolor);
    border: 2px solid var(--border);
    width:90%;
    margin: 2rem auto;

}
.container .col-md-6 {
    padding: 3rem;


}
.apo_card .h3{
    font-family: var(--titles);
    font-size: 1rem;
    margin-bottom: 0;
}
.contact_card .h3{
    font-family: var(--titles);
    margin: 10px;
    text-align: center;
}
#apo_form input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #858585;
    border-radius: 0;
   color: #fff;
}
#apo_form label{
    font-weight: bold;
}
#apo_form{
    width: 100%;
    display: grid;
    font-size: .8rem;

}
#apo_form textarea{
    background-color: var(--bgc);
    color: var(--textcolor);

}
#apo_form textarea::placeholder,#apo_form input::placeholder {
    color: var(--border);

}
.apo_card .card-body{
    place-items: center;
    
}
.apo_btn{
    background-color: var(--blue);
    color: var(--textcolor);
    width: 40%;
    position: relative;
    left:60%
}
.apo_btn:hover{
    background-color: var(--bgc);
    border: 1px solid var(--blue);
    color: var(--blue);
}
.apo_date::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.singup_btn{
    color: var(--bgc);
    border: 1px solid var(--bgc);
    padding: 0;
}
.contact_info{
    list-style: none;
    text-align: left;
    display: grid;
    gap: .5rem;
    margin-top: 2rem;
    padding: 2rem;
    font-weight: bold;

}
.contact_form input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #858585;
    border-radius: 0;
   margin-bottom: 1rem;
   color: #fff;
}
.contact_form label{
    font-weight: bold;
}
.contact_form textarea{
    background-color: var(--bgc);
    color: var(--textcolor);
}
.contact_form textarea::placeholder,.contact_form input::placeholder {
    color: var(--border);

}
.contact_card {
    background: transparent;
    color: var(--textcolor);
    border: 2px solid var(--border);
    width:90%;
    padding: 1rem;

}


.mailto{
    text-decoration: none;
    color: var(--textcolor);
}





.apo_row{
    min-height: 15rem;
}

.apo_conte{
    width: 50%;
    margin-top: 4rem;
}

.table_conte{
    overflow-y: scroll;
    height:fit-content;
    max-height: 10rem;
    background-color: var(--bgc);
    padding: 0;
    width: 80%;
}
.table_conte::-webkit-scrollbar{
    width: 5px;
    cursor: pointer;
}
.table_conte::-webkit-scrollbar-thumb{
    background-color: var(--graytext);
}
.table_conte::-webkit-scrollbar-track{
    background-color: var(--darkgray);
}

#apo_table {
    background-color:var(--bgc);
    border: solid;
    width: 100%;
    padding: 2rem;
    border:3px solid var(--darkgray);
    
}

#apo_table td, #apo_table th{
    padding :.5rem;
    text-align: center;
    border-bottom: 2px solid var(--border);
    
}
.cancel_btn{
    border: 1px solid var(--danger);
    color: var(--danger);
    padding: 3px 5px;
    margin-left: 10px;
}
.edit_btn{
    border: 1px solid var(--secondary);
    color: var(--secondary);
    padding: 3px 5px;

}
.alert_box{
    max-height: 5rem;
    width: 60%;
    margin: 0 auto;
    
}

/* REGISTER PAGE */
.register_logo{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.register_col{
    padding: 3rem;

}

.register_card {
    background: transparent;
    color: white;
    border: 2px solid var(--border);
    margin-top: 5rem;
    width: 80%;
    height: 90%;
}
#register_form{
    width: 60%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}
#register_form .form-group{
    margin-top: 1rem;
}

 #register_form input{
    background: transparent;
    color: white;
    border: 1px solid var(--border);


}
#register_form input::placeholder{
    color: var(--graytext);
}
.register_btn{
    color: var(--secondary);
    border: 1px solid var(--secondary);
}
.login_link{
    color:var(--blue) ;
    border: 1px solid var(--blue);

}
.wrapper_btn{
    position: relative;
    left: 50%;
}





.login_card {
    background: var(--bgc);
    color: var(--textcolor);
    border: 2px solid var(--border);
    margin: 8rem auto 0;
    width: 80%;
    height: 80%;
}

.login_form{
   margin-left: auto;
   margin-right: auto;
   width: 70%;
   font-family: var(--texts);
}
.login_form input{
   background-color: transparent;
   color: var(--textcolor);
   border: 1px solid var(--border);
}
.login_form .form-group{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.login_form input::placeholder{
    color: var(--graytext);
}
.login_logo{
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
.forgot_password{
    text-decoration: none;
    color: var(--textcolor);
}
.login_btn{
    background-color: var(--bgc);
    border: 1px solid var(--blue);
    color: var(--blue);
    position: relative;
    left: 80%;
    
}
.admin_btn{
    background-color: var(--blue);
    font-weight: bold;
    height: 50%;
    align-self: center;
}
.admin_btn:hover{
   border: 2px solid var(--blue);
   color: var(--blue);

}
.dont_have{
    font-family: var(--texts);
    width: max-content;
   color: var(--graytext) ;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top: 2rem;
}
@media(max-width: 500px){
 
    main .container, main.container-fluid{
        width: 90%;
        display: flex;
        flex-direction: column;
    }

   
    main .container .row .card, main .container-fluid .row .card{
        min-width: 100%;
        padding: 1rem;
        justify-items: center;
    }
     .row_budget{
        width: 90vw;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .news_wrapper{
        height: auto;
    
    }
    .news_wrapper .row{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    .panel-btn {
        display: block;
    }
  
    .panel{
        position: fixed;
        z-index: 998;
        top:5rem;
        bottom: 0;
        background-color: var(--darckblue);
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        width: 100%;
        transition: transform .3s ease;
        transform: translate(100%, 0);
    }
    .panel.is-active{
        transform:  translate(0,0);
    }
    
    .panel nav{
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        text-align: center;
        justify-content: space-around;
    }
    
  
    .panel nav a{
        padding: 2rem;
        font-size:2rem ;
        text-decoration: none;
        color: var(--color);
        transition: all 0.3s ease;
    }
    .panel nav a:hover{
        background-color: var(--color);
        color: #ffffff;
        font-weight: bold;
    
    }
    

    
}